html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.main-page__title {
  margin-top: 20px;
  text-align: center;
}
#dashboard {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#dashboard td,
#dashboard th {
  border: 1px solid #ddd;
  padding: 8px;
}

#dashboard tr:nth-child(even) {
  background-color: #f2f2f2;
}

#dashboard tr:hover {
  background-color: #ddd;
}

#dashboard th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6187da;
  color: white;
}
.filter {
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.panel {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
}
.add-book__button a {
  font-size: 15px;
  text-decoration: none;
  color: white;
}
.add-book__button {
  text-decoration: none;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #6187da;
  border: none;
  border-radius: 15px;
}
.add-book__button:hover {
  background-color: #4c69aa;
}
.add-book__button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.funtional-buttons {
  display: flex;
  justify-content: space-around;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  background: #6187da;
  color: aliceblue;
  width: 100%;
  height: 80px;

  text-align: center;
}
.footer__container {
  height: 60%;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.add-edit-page__title {
  text-align: center;
}
.add-edit-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.data__block {
  width: 400px;
  height: 200px;
  padding: 20px;
  background-color: #9fbaf5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.add-edit__button {
  margin-top: 20px;
}
.label-name {
  font-size: 20px;
}
.add-a-book__button {
  text-decoration: none;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3e8e41;
  border: none;
  border-radius: 15px;
}
.add-a-book__button-block {
  margin-top: 20px;
}
